{% extends "base.html" %}

{% block title %}Блог о домашних растениях{% endblock %}

{% block content %}
<h1 class="text-center mb-4">Блог о домашних растениях</h1>
<div class="row">
    {% for post in posts %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p><strong>Автор:</strong> {{ post.author }}</p>
                <p class="card-text">{{ post.content }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}