/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: #333;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.post {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}
/* Стили для навигации */
.navbar .nav-link {
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar .nav-link:hover {
    color: #ffcc00 !important; /* Изменение цвета при наведении */
    transform: scale(1.1); /* Небольшое увеличение размера */
}

.navbar .nav-link.active {
    color: #ffcc00 !important; /* Цвет активной ссылки */
}